---
# tasks file for tftp
# This server should have tftp, preseed.cfg
# Then, it will take the latest netboot from the internet
# And configure the relevant files for it
- name: Include vaulted variables
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ private_repo }}/{{ ansible_vault }}/{{ ansible_role_name }}-vars.yml"
      skip: true

- name: Ensure TFTPD is present on the system
  ansible.builtin.import_tasks: install-tftpd.yml
